In [1]:
import efinance as ef

list = ef.stock.get_realtime_quotes()

In [2]:
stock_code = list.loc[0]["股票代码"]
kline = ef.stock.get_quote_history(stock_code)
kline.to_parquet('df.parquet')

In [12]:
kline

,股票名称,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,招商银行,600036,2002-04-09,-7.13,-7.09,-7.04,-7.13,4141088,4.418822e+09,-1.13,10.82,0.86,69.02
1,招商银行,600036,2002-04-10,-7.09,-7.11,-7.08,-7.16,679455,7.166843e+08,-1.13,-0.28,-0.02,11.32
2,招商银行,600036,2002-04-11,-7.11,-7.13,-7.09,-7.14,227883,2.409635e+08,-0.70,-0.28,-0.02,3.80
3,招商银行,600036,2002-04-12,-7.13,-7.11,-7.10,-7.14,212565,2.240599e+08,-0.56,0.28,0.02,3.54
4,招商银行,600036,2002-04-15,-7.11,-7.16,-7.11,-7.17,185311,1.933069e+08,-0.84,-0.70,-0.05,3.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5255,招商银行,600036,2024-03-19,31.10,30.80,31.11,30.73,547025,1.688507e+09,1.22,-1.06,-0.33,0.27
5256,招商银行,600036,2024-03-20,30.80,31.18,31.20,30.66,498272,1.544957e+09,1.75,1.23,0.38,0.24
5257,招商银行,600036,2024-03-21,31.17,31.55,31.76,31.05,646761,2.040298e+09,2.28,1.19,0.37,0.31
5258,招商银行,600036,2024-03-22,31.53,31.20,31.55,30.90,552879,1.722145e+09,2.06,-1.11,-0.35,0.27
5259,招商银行,600036,2024-03-25,31.11,31.35,31.51,30.92,483759,1.514859e+09,1.89,0.48,0.15,0.23

In [ ]:
for code in list["股票代码"]:
    print(code)

In [15]:
import pandas as pd

In [13]:
kline = []
for i in list["股票代码"]:
    stock_code = i
    kline.append(ef.stock.get_quote_history(stock_code))

In [16]:
df_kline = pd.concat(kline)

/tmp/ipykernel_3096302/4050943923.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_kline = pd.concat(kline)

In [17]:
df_kline.to_parquet('./kline.parquet')